@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Montserrat:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #ABCF38;
  --secondary-color: #00B5C2;
  --tertiary-color: #003852;

  --primary-font: 'Montserrat', sans-serif;
  --secondary-font: 'Roboto', sans-serif;
}

body {
  font-family: var(--primary-font);
}
